<% provide :title, t("page_name_user_index") %>
<h1><%= t("page_name_user_index") %></h1>
<%= will_paginate %>
<ul class="users">
  <% @users.each do |user| %>
    <ul class="users">
      <%= render @users %>
    </ul>
  <% end %>
</ul>
<%= will_paginate %>
