<footer class="footer">
  <small>
    <%= raw t"footer_intro_text" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("page_name_about"), about_path %></li>
      <li><%= link_to t("page_name_contact"), contact_path %></li>
      <li><%= link_to t("page_name_news"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
